/*
 * Application global variables.
 */

// Angular Material custom theme
// See https://material.angular.io/guide/theming for more details.
//
// You can also read https://medium.com/@tomastrajan/the-complete-guide-to-angular-material-themes-4d165a9d24d1
// for more insight about Angular Material theming.

@import "~@angular/material/theming";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$app-primary: mat-palette($mat-blue);
$app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Material design icons font path
$material-design-icons-font-directory-path: "~material-design-icons-iconfont/dist/fonts/";

$main: #473a50;
$secondary: #b53a98;
$border: #825176;
$highlight: #827a51;
$shade: #5c592b;

::ng-deep .mat-input-element,
::ng-deep .mat-form-field-label {
  color: $highlight !important;
}

::ng-deep .mat-form-field-underline {
  background-color: $highlight !important;
}

/* Change label color on focused */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: $secondary !important;
}

/* underline border color on focused */
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: $secondary !important;
}

::ng-deep .ng-invalid {
  color: $shade !important;
}

// Use Bootstrap defaults for other variables, imported here so we can access all app variables in one place when used
// in components.
@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";

$xxs: "(max-width: 399px)";
$xs: "(max-width: 599px)";
$xs-landscape: "(max-height: 399px)";
$sm: "(max-width: 959px)";
$sm-landscape: "(min-width: 600px) and (max-width: 959px) and (max-height: 600px)";
$md: "(max-width: 1279px)";
$lg: "(min-width: 1280px)";
$xl: "(min-width: 1919px)";
$non-retina: "(-webkit-max-device-pixel-ratio: 1)";
$retina: "(min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx)";

@mixin respond-to($media) {
  @media only screen and #{$media} {
    @content;
  }
}
