<p>To use this application you need to provide API key</p>
<p>Find more info on <a href="https://openweathermap.org/appid" target="_blank">OpenWeather site</a></p>

<mat-form-field class="formField">
  <input matInput type="text" placeholder="API KEY" [(ngModel)]="value" />
  <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value = ''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<div id="deleteFavoritesButton" (click)="onSaveClick()">
  <button mat-stroked-button><span translate>Save</span></button>
</div>
