<div id="outter" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
  <span class="atmoTitle" translate fxFlex="50">{{ item.title }}</span>
  <span class="atmoValue" translate fxFlex="50">{{ item.value }}</span>
</div>
