@import "src/theme/theme-variables";

:host {
  width: 100%;
}

#outter {
  width: 100%;
  .atmoTitle {
    text-align: right;
    font-weight: 400;
    color: $main;
  }
  .atmoValue {
    text-align: left;
  }
}
