<mat-toolbar class="mat-elevation-z6 navbar">
  <div fxHide.gt-sm fxLayoutAlign="start center">
    <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title">{{ title }}</span>
  </div>
  <div fxHide.lt-md>
    <a
      class="brand"
      href="https://openweathermap.org/"
      fxFlex="100"
      fxLayout="column"
      fxLayoutAlign="centar centar"
      fxLayoutGap="gappx"
    >
      <img class="logo" src="assets/openweather.png" alt="Logo" />
    </a>
    <button mat-button routerLink="/home" routerLinkActive="active">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-button routerLink="/about" routerLinkActive="active">
      <mat-icon>info</mat-icon>
    </button>
  </div>
  <span fxFlex></span>
  <button mat-icon-button [matMenuTriggerFor]="languageMenu">
    <mat-icon>language</mat-icon>
  </button>
  <mat-menu #languageMenu="matMenu">
    <button mat-menu-item *ngFor="let language of languages" (click)="setLanguage(language)">
      {{ language }}
    </button>
  </mat-menu>
</mat-toolbar>
