@import "src/theme/theme-variables";

.navbar {
  background-color: $main;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.brand {
  color: white;
  text-decoration: none;
  padding-right: 1rem;
  height: 64px;
  .logo {
    padding-top: 10px;
    padding-bottom: 10px;
    width: auto;
    height: 64px;
  }
}

.menu-button {
  margin-right: 1rem;
}
