@import "src/theme/theme-variables";

/*
$main: #473A50;
$secondary: #B53A98;
$border: #825176;
$highlight: #827A51;
$shade: #5C592B;
 */
.container {
  text-align: center;
  padding: 0;
  display: grid;
  min-height: 100%;
  grid-template-rows: 100%;
  grid-template-columns: 30% 70%;
  color: white;
  font-family: "Roboto", sans-serif;
  * {
    font-weight: 300;
  }
  #favorites {
    grid-row: 1/2;
    grid-column: 1/2;
    background-color: $main;
    #input_user {
      overflow-y: hidden;
      h2 {
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 4px;
      }
      .mat-divider {
        width: 100%;
      }
      #favoritesList {
        width: 100%;
        .favoritesOutter {
          .favoritesItem {
            padding: 20px 2px 20px 2px;
            width: 100%;
            overflow: hidden;
            margin-left: auto;
            margin-right: auto;
            grid-column: 2/3;
            grid-row: 1/2;
            .cityName {
              position: relative;
              color: white;
              width: 100%;
              height: 80px;
              text-decoration: none;
              letter-spacing: 4px;
              overflow: hidden;
              background: rgba($color: #000000, $alpha: 0.1);
              box-shadow: 0px 10px 10px rgba($color: #fff, $alpha: 0.2);
              z-index: 1;
              &:after {
                content: "";
                position: absolute;
                z-index: 2;
                left: -100%;
                width: 100%;
                height: 100%;
                background: linear-gradient(90deg, transparent, rgba($color: #fff, $alpha: 0.4), transparent);
                transition: 500ms;
              }
              &:hover {
                color: $highlight;
                font-weight: 400;
                &:after {
                  left: 100%;
                }
              }
            }
            &:after {
              content: "";
              z-index: 2;
              left: -100%;
              width: 500px;
              height: 500px;
              background: linear-gradient(90deg, transparent, rgba($color: #fff, $alpha: 0.4), transparent);
              transition: 500ms;
            }
          }
          .favoritesItemDelete {
            display: none !important;
            &.deleteFavorites {
              display: flex !important;
              grid-column: 1/2;
              grid-row: 1/2;
            }
          }
        }
      }
    }

    #confirmDeleteFavoritesButton {
      display: none;
      &.deleteFavorites {
        display: block;
        grid-column: 1/2;
        text-align: center;
      }
    }
    #deleteFavoritesButton {
      grid-column: 2/3;
      &.deleteFavorites {
        display: none !important;
      }
    }
  }

  .favoritesOutter {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 100%;
  }

  #details {
    grid-row: 1/2;
    grid-column: 2/3;
    background-color: $border;
  }
  #details {
    #citySearchForm {
      width: 100%;
      #citySearchField {
        width: 30%;
        margin-left: auto !important;
        margin-right: auto !important;
        flex: inherit !important;
        transition: 0.5s;
        &.mat-focused,
        &.ng-valid,
        &.ng-touched {
          width: 50%;
        }
      }
    }
    #cityWeather {
      width: 100%;
      .gridWeather {
        padding: 20px;
      }
      #weatherInfo {
        display: grid;
        grid-template-columns: 33% 34% 33%;
        grid-template-rows: 100%;
      }
    }
  }
}
