<div class="container">
  <div id="favorites" class="user">
    <mat-list id="input_user" fxLayout="column" fxLayoutAlign="start center">
      <h2 class="title" translate>Favorites</h2>
      <br />
      <mat-divider></mat-divider>
      <br />
      <div id="favoritesList" *ngFor="let favoriteCity of favoriteCitys; let i = index">
        <div class="favoritesOutter">
          <div
            class="favoritesItemDelete"
            [ngClass]="{ deleteFavorites: deleteFavorites }"
            fxLayout="column"
            fxLayoutAlign="center center"
          >
            <mat-checkbox class="example-margin" [(ngModel)]="favoriteCitys[i].checked"> </mat-checkbox>
          </div>
          <div
            class="favoritesItem"
            (click)="getCityWeather(favoriteCity.name)"
            [ngClass]="{ deleteFavorites: deleteFavorites }"
          >
            <a class="cityName" fxLayout="column" fxLayoutAlign="center center">{{ favoriteCity.name }}</a>
          </div>
        </div>
      </div>
    </mat-list>
    <div class="favoritesOutter">
      <div
        id="confirmDeleteFavoritesButton"
        [ngClass]="{ deleteFavorites: deleteFavorites }"
        (click)="deleteSelectedFavorites(); deleteFavorites = false"
      >
        <mat-icon>done</mat-icon>
      </div>
      <div id="deleteFavoritesButton" (click)="deleteFavorites = true" [ngClass]="{ deleteFavorites: deleteFavorites }">
        <button mat-stroked-button>
          <mat-icon>delete_outline</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div id="details" class="repo">
    <form
      id="citySearchForm"
      [formGroup]="citySearchFormGroup"
      #formtwo="ngForm"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
    >
      <mat-form-field class="form-full-width" id="citySearchField" fxFlex>
        <button mat-button matPrefix mat-icon-button aria-label="Clear" (click)="searchCity()">
          <mat-icon>search</mat-icon>
        </button>
        <input
          matInput
          formControlName="citySearchFormControl"
          placeholder="{{ 'Search by city name' | translate }}*"
          [(ngModel)]="searchValue"
        />
        <mat-error *ngIf="citySearchFormGroup.controls.citySearchFormControl.hasError('required')"
          ><span [innerHtml]="'Text is required to do search' | translate"></span
        ></mat-error>
        <mat-hint *ngIf="cityNotFound && !citySearchFormGroup.controls.citySearchFormControl.hasError('required')"
          ><span [innerHtml]="'City does not exist' | translate"></span
        ></mat-hint>
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="searchValue = ''; cityNotFound = false"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <br />
    </form>
    <section id="cityWeather" *ngIf="cityWeather.name">
      <h2>
        {{ cityWeather.name }}
        <mat-icon *ngIf="isFavorite(cityWeather.name)" (click)="deleteSelectedFavorites(cityWeather.name)"
          >star</mat-icon
        >
        <mat-icon *ngIf="!isFavorite(cityWeather.name)" (click)="setFavorite(cityWeather.name)">star_border</mat-icon>
      </h2>
      <div id="weatherInfo">
        <div class="gridWeather" id="cityWeatherWind">
          <h3 translate="">Wind</h3>
          <mat-divider></mat-divider>
          <br />
          {{ cityWeather.wind.speed }} ms
          <br />
          <mat-icon
            *ngIf="cityWeather.wind.deg"
            [ngStyle]="{
              transform: 'rotate(' + cityWeather.wind.deg + 'deg)',
              '-webkit-transform': 'rotate(' + cityWeather.wind.deg + 'deg)',
              '-ms-transform': 'rotate(' + cityWeather.wind.deg + 'deg)'
            }"
            >arrow_drop_down_circle</mat-icon
          >
          <br />
          {{ getWindDirection(cityWeather.wind.deg) }}
        </div>
        <div class="gridWeather" id="cityWeatherMain">
          <h3 translate>Atmospheric</h3>
          <mat-divider></mat-divider>
          <br />
          <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">
            <app-atmospheric
              [item]="{ title: 'Temperature' | translate, value: kelvinToFahrenheit(cityWeather.main.temp) + ' F' }"
            >
            </app-atmospheric>
            <app-atmospheric
              [item]="{
                title: 'Feeling like' | translate,
                value: kelvinToFahrenheit(cityWeather.main.feels_like) + ' F'
              }"
            ></app-atmospheric>
            <app-atmospheric
              [item]="{ title: 'Maximum' | translate, value: kelvinToFahrenheit(cityWeather.main.temp_max) + ' F' }"
            >
            </app-atmospheric>
            <app-atmospheric
              [item]="{ title: 'Minimum' | translate, value: kelvinToFahrenheit(cityWeather.main.temp_min) + ' F' }"
            >
            </app-atmospheric>
            <app-atmospheric [item]="{ title: 'Pressure' | translate, value: cityWeather.main.pressure + ' hPa' }">
            </app-atmospheric>
            <app-atmospheric [item]="{ title: 'Humidity' | translate, value: cityWeather.main.humidity + '%' }">
            </app-atmospheric>
          </div>
        </div>
        <div class="gridWeather" id="cityWeatherSys">
          <h3 translate="">Clouds</h3>
          <mat-divider></mat-divider>
          <br />
          <img
            *ngIf="cityWeather.weather[0].icon"
            class="align-self-center align-items-center"
            src="{{ imageLink + cityWeather.weather[0].icon + '@2x.png' }}"
            alt=""
          />
          <br />
          {{ cityWeather.weather[0].main }}
        </div>
      </div>
    </section>
  </div>
</div>
